* {
    box-sizing: border-box;
    margin: 0;
}

.parent {
    width: 400px;
    background-color: #efefef;
    overflow: hidden;
}

.child {
    width: 200px;
    height: 200px;
}

.red {
    float: left;
    background-color: rgb(220, 123, 123);
}

.yellow {
    float: left;
    background-color: rgb(241, 241, 136);
}

.blue {
    float: left;
    background-color: rgb(101, 101, 236);
}